.tab {
    display: inline-block;
    padding: calc(1 * var(--space));
    margin: 0 calc(2 * var(--space)) calc(2 * var(--space)) 0;
    box-shadow: var(--shadow);
    background-color: white;
}

.tabContent {
    display: flex;
    align-items: center;
}

.delIcon {
    all: unset;
    cursor: pointer;
    margin-left: calc(1 * var(--space));
}

.editIcon {
    height: 20px;
    margin-left: calc(2 * var(--space));
}

.input {
    all: unset;
    display: block;
    width: 100%;
    padding: calc(1 * var(--space));
    background-color: white;
    font-size: var(--mediumBody);
    box-shadow: var(--shadow);
    box-sizing: border-box;
}