:root {
    --primaryColor: #525CEB;
    --secondaryColor: #BFCFE7;
    --backgroundColor: #F8EDFF;

    --textColorLight: #F8EDFF;
    --textColorDark: #3D3B40;

    --space: 8px;

    --largeTitle: 56px;
    --mediumTitle: 32px;
    --smallTitle: 24px;
    --extremeSmallTitle: 16px;

    --largeBody: 24px;
    --mediumBody: 16px;

    --menuSize: 60px;

    --shadow: 1px 1px 3px rgba(0, 0, 0, 0.171);
}

body {
    color: var(--textColorDark);
    background-color: var(--backgroundColor);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}