:root {
    /* 
     * #37B5B6
     * #F2F597
     */
    --primaryColor: #0A1D56;
    --secondaryColor: #492E87;

    --textColorLight: white;
    --textColorDark: black;

    --space: 8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}